<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/clientStyle.css">
        <style type="text/css">
            
           
        </style>
        <script src="/scripts/jquery-2.1.3.min.js"></script>
        <script  src="/socket.io/socket.io.js"></script>
        <script src="/scripts/constants.js"></script>
        <script src="/scripts/angular.min.js"></script>
        
            
        
    </head>
<body  ng-app="myChatApp">
    <div id="user"></div>
    <div id="logout" class="logout" onclick="logout()">Logout</div>
    <div id="chat-control" ng-controller="friendListCtrl">
        <div id="users_of_app" class="users_of_app">
            <div class="user_list_heading">List of users</div>
            <input ng-model="query">
            <div class="user-list-name-container" ng-repeat="x in friends | filter:query | orderBy:totalMessages:true" ng-click="getUserId($event)">

                <div class="user_list_name">{{x.user_fname}}</div>
                <div ng-hide="x.noOfUnreadMessages == 0" class="unread-messages">{{x.noOfUnreadMessages}}</div>
                <div class="user-status">{{x.online}}</div>
            </div>

        </div>

        <div id="chatlog" class="chatlog">
            <div id="friend_chat_kbbaldha" class="friend_chat">
                <div id="friend_name" class="friend_name" >{{currentFriendObj.user_fname}}</div>
                <input type="text" id="message_input" ng-model="msgInputBoxValue" /><button id="kbbaldha"  ng-click ="sendMessage()">send</button>
                <div id="friend_chat_log" class="friend_chat_log" > 
                    <div class="msg-container" ng-repeat="msg in currentFriendObj.messages">
                        <div ng-if="(msg[currentFriendObj.type] != undefined && msg[currentFriendObj.type] != null)" class="friend_chat_msg"> {{msg[currentFriendObj.type]}} </div>
                        <div ng-if="(msg[currentFriendObj.clientType] != undefined && msg[currentFriendObj.clientType] != null)" class="me_chat"> {{msg[currentFriendObj.clientType]}} </div>
                        
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div id="notifications-container" class="notifications-container">
        <div class="notifications-heading">Notification</div>
        <div id="notification-holder" class="notifications-holder">

        </div>
    </div>

    <div id="search-container" class="search-container">
        <input type="text" id="search_input" />
        <button id="search" onclick="searchUserByName(this)">search</button>
        <div id="search-result-container" class="search-result-container">

        </div>
    </div>
    <script type="text/javascript" src="/scripts/mainscript.js"></script>
    <script type="text/javascript" src="/javascripts/myChatApp.js"></script>
    <script type="text/javascript" src="/javascripts/controller.js"></script>
</body>

</html>